[x-cloak] {
  display: none !important;
}

body {
  background-color: #070d18;
  color: #F0FFFF;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #070d18;
}

::-webkit-scrollbar-thumb {
  background: #1a2a44;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7393B3;
}
